name: Check Tag Version

on:
  push:
    branches: [ "main" ]

jobs:
  check-tag-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Extract tag version
        run: |
          TAG_VERSION=${GITHUB_REF##*/}
          echo "Tag version: $TAG_VERSION"
      - name: Extract file version
        run: |
          FILE_VERSION=$(awk -F"'" '/^__version__/ {print $2}' nnodely/__init__.py)
          echo "File version: $FILE_VERSION"
      - name: Compare tag and file versions
        run: |
          if [[ $TAG_VERSION == $FILE_VERSION ]]; then
            echo "Tag version matches file version"
          else
            echo "Tag version does not match file version"
            exit 1
          fi