name: Test Coveralls

on:
  push:
    branches: [ "main", "features/4-automotic-coveralls" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install coverage coveralls
        python -m unittest discover -s tests
        pip install -e .

    - name: Tests with coverage
      run: |
        coverage run --omit='./results/*','./docs/*','./examples/*' -m unittest discover tests

    - name: Coveralls
      uses: coverallsapp/github-action@v2
